{% extends 'base.html.twig' %}

{% block title %}Edit Nieuws{% endblock %}

{% block body %}
    <h1 class="show-blog">Bewerk {{ nieuw.titel }}</h1>

    <div class="show-blog">

    <br>

    {{ include('nieuws/_form.html.twig', {'button_label': 'Update'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('nieuws_index') }}">Terug</a>
        <br><br>
    {{ include('nieuws/_delete_form.html.twig') }}

    </div>

{% endblock %}
