{% extends 'base.html.twig' %}

{% block title %}New Nieuws{% endblock %}

{% block body %}
    <h1>Create new Nieuws</h1>

    {{ include('nieuws/_form.html.twig') }}

    <a href="{{ path('nieuws_index') }}">back to list</a>
{% endblock %}
