.image-home {
    width: 350px !important;
    height: 300px !important;
}

.image {
    width: 300px !important;
    height: auto;
}

.show-blog{
    max-width: 1500px;
    margin: auto;
}

.col-md-4{
    height: auto;
}